
:root {
  --black: #000000; 
  --primary: #ff8906; 
  --grey-bg: #fbfbfb; 
  --grey: #cecece; 
  --white: #ffffff; 
   
}

body {
  margin: 0;
  color: var(--white);
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #0F0E17;
  transition: background-Color 0.3s;
}

.brightness {
  width: 667.63px;
  height: 55.63px;
  display: flex;
  gap: 24px;
}

input[type='range'] {
  align-self: center;
  margin: 0;
  width: 100%;
  border-radius: 9.19px;
  appearance: none;
  background: linear-gradient(90deg, var(--primary) 0%, rgba(48, 127, 226, 0.3) 0%);
  height: 18.38px;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 55.13px;
  height: 55.13px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
}

input[type='range']:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 27.56px rgba(255, 137, 6, 0.4);
}

input[type='range']:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 27.56px rgba(255, 137, 6, 0.7);
}

@media screen and (max-width: 360px){

  .brightness {
    align-items: center;
    width: 276px;
    height: 24px;
    gap: 10.38px;
  }

  .brightness img {
    width: 24px;
    height: 24px;
  }

  input[type='range'] {
    height: 8px;
    border-radius: 4px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 23.85px;
    height: 23.85px;
  }

  input[type='range']:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 11.92px rgba(255, 137, 6, 0.4);
  }
  
  input[type='range']:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 11.92px rgba(255, 137, 6, 0.7);
  }
}


